*{
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(255,255,255);
    color: red;
}

.logo{
    height: 50px;
    width: 50px;
    
}
.gal{
    display: grid;
    grid-template-columns: repeat(3,500px);
    grid-template-rows: repeat(3,500px);
    grid-gap: 15px;
}
.img{
    height: 500px;
    width: 500px;
}
body{
    background-color:white;
}
footer{
    background-color: aliceblue;
    color: red;
}
.ht{

}